$borderColor: #666;
$lapWidth: 100px;

#visualization {
  #circuit {
    overflow: hidden;
    position: relative;
    border: 1px solid $borderColor;

    small {
      font-weight: bold;
    }

    #laps {
      display: flex;
      flex-direction: row;
      height: inherit;

      .lap {
        flex: none;
        position: relative;
        box-shadow: -1px 0 1px -1px $borderColor;
        width: $lapWidth;
        text-transform: uppercase;

        small {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 5px;
        }
      }

      .lap {
        &:last-child {
          border-right: 0;
        }
      }
    }

    #lights {
      position: absolute;
      z-index: 2;
      left: $lapWidth;
      top: 50%;
      transform: translateY(-50%);
      width: $lapWidth / 2;
      height: $lapWidth * 2;
      background: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .light {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #222;

        &.on {
          background-color: #bb0000;
        }
      }
    }

    #drivers {
      position: absolute;
      width: 100%;
      height: inherit;
      z-index: 1;

      .driver {
        $padding: 5px;
        $height: 30px;

        position: absolute;
        z-index: 1;
        line-height: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: $height;
        transition: all 500ms linear;

        small {
          color: #fff;
          padding: $padding;
          text-align: center;

          &.pit {
            border: 1px solid green;
            color: green;
            padding: $padding - 1px;
            text-transform: uppercase;
          }

          &.fastest-lap {
            background-color: #ea3aea;
            padding: $padding - 1px;
          }

          &.time {
            background-color: $borderColor;
          }

          &.team {
            min-width: $height;
            max-width: $height + $padding * 2;

            $teams: (
              "mercedes": (#00D2BE, #000),
              "ferrari": (#DC0000),
              "red_bull": (#1E41FF),
              "renault": (#FFF500, #000),
              "haas": (#F0D787, #000),
              "racing_point": (#F596C8, #000),
              "toro_rosso": (#469BFF),
              "mclaren": (#FF8700),
              "alfa": (#9B0000),
              "williams": (#C7E2F5, #000),
            );

            @each $name, $colors in $teams {
              &.#{$name} {
                background-color: nth($colors, 1);
                @if length($colors) == 2 {
                  color: nth($colors, 2);
                }
              }
            }
          }
        }

        &.dnf {
          .time {
            background-color: red !important;
            color: white !important;
          }
        }
      }
    }
  }
}
